<!DOCTYPE html>
<html>
<head>
	<title>::Display::</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container p-5">
		<h1 class="text-primary">USERS</h1>

		<table class="table table-dark table-striped">

				<thead>
					<tr>
						<th>s.no</th>
						<th>Name</th>
						<th>Branch</th>
						<th>RollNumber</th>
						<th>Email</th>
						<th>Year</th>
						<th>Semester</th>
						<th>delete</th>
						<th>Update/Edit</th>
					</tr>
				</thead>
				<tbody>
					{% for row in info %}
					<tr>
						<td>{{forloop.counter}}</td>
						<td>{{row.Name}}</td>
						<td>{{row.Branch}}</td>
						<td>{{row.Rollno}}</td>
						<td>{{row.Email}}</td>
						<td>{{row.Year}}</td>
						<td>{{row.Semester}}</td>
						<td><a href="{% url 'del' row.id %}">Delete</a></td>
						<td><a href="{% url 'up' row.Name %}">Update</a></td>
					</tr>
					{% endfor %}
				</tbody>
				<a href="register">adduser</a>
		</table>
	</div>
</body>
</html>